# Node / npm / pnpm
node_modules/
.pnpm-debug.log*
pnpm-debug.log*
npm-debug.log*

# Next.js build output
.next/
out/

# NestJS build output
dist/

# TypeScript build info
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing / Coverage
coverage/
.nyc_output/
